body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

p {
    text-indent: auto;
    margin-right: 5%;
    margin-bottom: 40px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    box-shadow: 2px 2px 2px 2px black;
}

.dream-big {
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dev-box {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    background-color: white;
    box-shadow: 2px 2px 30px 2px;
    border-radius: 10px;
}

.experience-area {
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-dev {
    border-left: 10px solid;
    border-image: linear-gradient(#e44b04, #e7e40d) 30;
}

#baby-dev {
    border-left: 10px solid;
    border-image: linear-gradient(#0c48ee, #0dd5e7) 30;
}

#graphic {
    border-left: 10px solid;
    border-image: linear-gradient(#ee0c88, #0dd5e7) 30;
}

footer p {
    text-align: center;
}